<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    -->
    <uses-sdk tools:overrideLibrary="com.braintreepayments.cardform, com.braintreepayments.api.googlepay , com.braintreepayments.api.unionpay , com.braintreepayments.api.card , com.braintreepayments.api.paypal ,
     com.braintreepayments.api.venmo , com.braintreepayments.api.data_collector , com.braintreepayments.api.browserswitch ,
     com.braintreepayments.api.paypaldatacollector , com.braintreepayments.api.sharedutils , androidx.security ,androidx.compose.ui.tooling, androidx.activity.compose,     androidx.lifecycle.viewmodel.compose, androidx.compose.material, androidx.compose.material.ripple,androidx.compose.foundation,
     androidx.compose.material.icons.extended, androidx.compose.material.icons,androidx.compose.runtime.livedata,androidx.compose.ui.tooling.data,     androidx.compose.animation, androidx.compose.foundation.layout, androidx.compose.animation.core,androidx.compose.ui,androidx.compose.ui.text,
       androidx.compose.runtime.saveable, androidx.compose.ui.graphics, androidx.compose.ui.unit, androidx.compose.ui.geometry,androidx.compose.ui.tooling.preview,
        androidx.compose.runtime,androidx.compose.ui.util,com.braintreepayments.api,com.braintreepayments.api.threedsecure,com.paypal.android.sdk.onetouch.core,     com.braintreepayments.api.core,com.braintreepayments.browserswitch,com.paypal.android.sdk , com.braver.tool.picker" />

    <!-- com.stripe.android.payments, com.stripe.android, com.stripe.android.stripe3ds2, com.stripe.android.paymentsheet, -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries> <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--From Android 12-->
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--android 12 end-->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Required to show current location -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <!--new permission for android 12+ or 13 SDK 33 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!--end-->


    <permission
        android:name="com.app.OnlineCareTDC_Pt.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.OnlineCareTDC_Pt.permission.MAPS_RECEIVE" />

    <application
        android:name=".OnlineCare"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_round"
        android:theme="@style/CustomActionBarTheme"
        tools:replace="android:allowBackup">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".ActivityUploadLabRequest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="Upload Results"
            android:parentActivityName=".ActivityLabRequests">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.app.OnlineCareTDC_Pt.ActivityLabRequests" />
        </activity>
        <activity
            android:name=".ActivityLabRequests"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="Lab Requests"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityDeleteMyAccount"
            android:parentActivityName=".UpdateProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.UpdateProfile" />
        </activity>
        <activity
            android:name=".ActivityVerificationSocial"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="sg.com.temasys.skylink.sdk.sampleapp.MainActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:label="@string/app_name" /> <!-- android:excludeFromRecents="true" -->
        <!--
        <activity
            android:name="com.oovoo.sdk.sample.ui.SampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        -->
        <!--
<receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.app.onlinecare" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.app.emcurauc.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.app.emcurauc.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.app.emcurauc.gcm.RegistrationIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->
        <!-- =======================================added from onlinecare============================================= -->
        <!-- =================================included================================= -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1568397850198114"
            android:exported="true" />

        <activity
            android:name=".SearchADoctor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Book Appointment"
            android:parentActivityName=".ActivityAppntmtOptions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ActivityAppntmtOptions" />
        </activity>
        <activity
            android:name=".MainActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".Signup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Registration"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.Login" />
        </activity>
        <activity
            android:name=".ActivityVerificationOtp"
            android:label="Verification"
            android:parentActivityName=".Signup"
            android:theme="@style/DrawerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.Signup" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Forgot Password"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.Login" />
        </activity>
        <activity
            android:name=".UpdateProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Update Profile"
            android:parentActivityName=".MainActivityNew"
            android:theme="@style/DrawerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityGyantChat"
            android:exported="false"
            android:label="Total direct care" />
        <activity
            android:name=".util.ChoosePictureDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/TransparentTheme" /> <!-- <activity android:name="eu.janmuller.android.simplecropimage.CropImage" /> -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DoctorsList"
            android:label="Available Doctors"
            android:parentActivityName=".SearchADoctor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.SearchADoctor" />
        </activity>
        <activity
            android:name=".SelectedDoctorsProfile"
            android:label="Doctor&apos;s Profile"
            android:parentActivityName=".DoctorsList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.DoctorsList" />
        </activity>
        <activity
            android:name=".AppntmtReqtd"
            android:label="Appointment Set"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity android:name=".AwaitingAppointments" />
        <activity
            android:name=".SubUsersList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Primary Member"
            android:parentActivityName=".MainActivityNew"
            android:theme="@style/DrawerTheme"> <!-- Login As -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".AddFamilyMember"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Add Family Member"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".DrSchedule"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Doctor&apos;s Schedule"
            android:parentActivityName=".SelectedDoctorsProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.SelectedDoctorsProfile" />
        </activity>
        <activity
            android:name=".MyAppointments"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="My Appointments"
            android:parentActivityName=".ActivityAppntmtOptions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ActivityAppntmtOptions" />
        </activity>
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".Reports"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="My Medical Reports"
            android:parentActivityName=".ReportFolders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ReportFolders" />
        </activity>
        <activity
            android:name=".ReportFolders"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Report Folders"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".GetLiveCare"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Connect For Immediate Care"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".BookAppointment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Book Appointment"
            android:parentActivityName=".SelectedDoctorsProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.SelectedDoctorsProfile" />
        </activity>
        <activity
            android:name=".SelectReports"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Select Medical Reports"
            android:parentActivityName=".BookAppointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.BookAppointment" />
        </activity>
        <activity
            android:name=".GiveNameReportDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" /> <!-- @android:style/Theme.Dialog -->
        <activity
            android:name=".ViewReportImage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Medical Report"
            android:parentActivityName=".Reports">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.Reports" />
        </activity>
        <activity
            android:name=".MyAppointmentDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Appointment Details"
            android:parentActivityName=".MyAppointments">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MyAppointments" />
        </activity>
        <activity
            android:name=".LiveCareWaitingArea"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="eLiveCare Waiting Area"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".MedicalHistory1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Medical History"
            android:parentActivityName=".MainActivityNew"
            android:theme="@style/DrawerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity android:name=".util.FileExplore" />
        <activity
            android:name=".AfterCallDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.Dialog" /> <!-- android:theme="@android:style/Theme.DeviceDefault.Dialog" -->
        <activity
            android:name=".ActivityInsurance"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Insurance"
            android:parentActivityName=".MainActivityNew"
            android:theme="@style/DrawerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".DonateForCare"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Donate for care"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".FirstLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Online Care" />
        <activity
            android:name=".FreeCare"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Online Care" />
        <!--
        <activity
            android:name=".heartbeat.HeartRateMonitor"
            android:parentActivityName=".LiveCareWaitingArea" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.onlinecare.LiveCareWaitingArea" />
        </activity>
        -->
        <!--
        <service android:name=".services.VChatListener" >
        </service>
        <service android:name=".VideoCallService" >
        </service>
        <service android:name=".services.MessageReceiverService" >
        </service>
        <service android:name=".services.IncomingCallService" >
        </service>
        <service android:name=".services.MayBeWork" >
        </service>
        -->
        <!--
        <receiver
            android:name=".broadcasts.IncomingCallBroadcast"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="ACCEPT" />
            </intent-filter>
        </receiver>
        -->
        <!-- Note: this service and broadcast was to monitor livecarewaiting patients on waitingArea activity -->
        <!-- Android 28 manifest broadcasts shut down also startService may be create issues  2Jan2019  GM -->
        <!--
<service android:name="com.app.emcurauc.services.LiveCareWaitingService1" />
        <receiver
            android:name="com.app.emcurauc.broadcasts.BootCompleteBroadcast"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.app.onlinecare.STOP_SERVICE" />
                <action android:name="com.app.onlinecare.START_SERVICE" />
                <action android:name="com.app.onlinecare.STOP_VCHAT_SERVICE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="LIVE_CARE_WAITING_TIMER" />
                <action android:name="LIVE_CARE_WAITING_TIMER_STOP" />
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name=".broadcasts.SaveGCM_TokenBroadcast"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.app.emcurauc.SAVE_GCM_TOKEN" />
            </intent-filter>
        </receiver>
        <!--
        <service android:name=".services.IncomingCallServiceNew" >
        </service> 
        <service android:name=".services.DeviceRegisterService" >
        </service>
        -->
        <!--
        <service
            android:name="com.alexbbb.uploadservice.UploadService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.app.onlinecare.uploadservice.action.upload" />
            </intent-filter>
        </service>
        -->
        <!--
             <meta-data
            android:name="io.fabric.ApiKey"
            android:value="13f59d25bf4460cf7dc20ae64a0b6e70aadad6e5" />
        -->
        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_API_key" />

        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".PresscriptionActivity"
            android:label="@string/title_activity_presscription"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".UpdatePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".UpdateProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.UpdateProfile" />
        </activity>
        <activity
            android:name=".paypal.PaymentLiveCare"
            android:parentActivityName=".GetLiveCare">

            <!-- android:theme="@style/Theme.AppCompat.Light.Dialog" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.GetLiveCare" />
        </activity>
        <!--
<activity
            android:name="com.app.OnlineCareUS_Pt.paypal.PaymentPaypalActivity"
            android:parentActivityName="com.app.OnlineCareUS_Pt.MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareUS_Pt.MainActivityNew" />
        </activity>
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        -->
        <activity
            android:name=".TransectionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_transections"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <!--
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                Receives the actual messages.
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                Receives the registration id.
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.app.onlinecare" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".gcm.GCMActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>

        <receiver
            android:name=".gcm.MessageBroadcast"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.app.quranplus.DISPLAY_MESSAGE" />
                
                <action android:name="com.app.onlinecare.STOP_SERVICE" />
                <action android:name="com.app.onlinecare.START_SERVICE" />
                <action android:name="com.app.onlinecare.STOP_VCHAT_SERVICE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="LIVE_CARE_WAITING_TIMER" />
                <action android:name="LIVE_CARE_WAITING_TIMER_STOP" />



               
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".ActivityDoctorInfo"
            android:label="Dr Information"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ActivitySendMessage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".ViewConversationActivity"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ViewConversationActivity" />
        </activity>
        <activity
            android:name=".ConversationsActivity"
            android:label="@string/title_activity_conversations"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ViewConversationActivity"
            android:label="@string/title_activity_all_messages"
            android:launchMode="singleTask"
            android:parentActivityName=".ConversationsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ConversationsActivity" />
        </activity>
        <activity
            android:name=".ShowMessagePopupActivity"
            android:parentActivityName=".MainActivityNew"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity> <!-- =================================included================================= -->
        <activity
            android:name=".ConsentFormActivity"
            android:label="@string/title_activity_consent_form" />
        <activity
            android:name=".MedicalPermissionForm"
            android:label="@string/title_activity_medical_permission_form" />
        <activity
            android:name=".PatientConsentActivity"
            android:label="@string/title_activity_patient_consent" />
        <activity
            android:name=".PatientConsentActivityNew"
            android:label="@string/title_activity_patient_consent" />
        <activity
            android:name=".devices.MyDevices"
            android:label="My Devices"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".devices.AvailableDevicesActivity"
            android:label="Available Devices"
            android:parentActivityName=".devices.MyDevices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.devices.MyDevices" />
        </activity>
        <activity
            android:name=".devices.AuthSuccessActivity"
            android:label="Online Care"
            android:exported="true"
            android:parentActivityName=".devices.MyDevices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.devices.MyDevices" />

            <intent-filter>
                <data android:scheme="onlinecare" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".devices.WithingsBpDataActivity1"
            android:label="Blood Pressure Data"
            android:parentActivityName=".devices.MyDevices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.devices.MyDevices" />
        </activity> <!-- =======================================added from onlinecare============================================= -->
        <activity
            android:name=".SupportMessagesActivity"
            android:label="@string/title_activity_support_messages"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".PatientNurses"
            android:label="Care Providers"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityPrimaryCareDoctors"
            android:label="Primary Care"
            android:parentActivityName=".MainActivityNew"
            android:theme="@style/DrawerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityGroupChat"
            android:label="Group Chat"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityGroupMessages"
            android:label="Group Messages"
            android:parentActivityName=".ActivityGroupChat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ActivityGroupChat" />
        </activity>
        <activity
            android:name=".ActivityGroupMembers"
            android:label="Group Members"
            android:parentActivityName=".ActivityGroupMessages">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.ActivityGroupMessages" />
        </activity>
        <activity
            android:name=".ShowGroupMessagePopup"
            android:parentActivityName=".MainActivityNew"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityUrgentCareDoc"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="UrgentCare Centers"
            android:parentActivityName=".MainActivityNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity
            android:name=".ActivityMyProviders"
            android:label="My Providers"
            android:parentActivityName=".UpdateProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.UpdateProfile" />
        </activity>
        <activity
            android:name=".permission.PermissionsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Login" />
        <activity
            android:name=".ActivityAppntmtOptions"
            android:label="Appointments"
            android:parentActivityName=".MainActivityNew" /> <!-- <activity android:name="com.app.OnlineCareUS_Pt.paypal.ActivityCreditCardStripe"/> -->
        <activity android:name=".b_health2.ActivityConnectTherapist" />
        <activity android:name=".b_health2.ActivityConsent" />
        <activity android:name=".b_health2.ActivityIcWaitingRoom" />
        <activity android:name=".b_health2.ActivityApptmntProviders" />
        <activity android:name=".b_health2.ActivityDoctorSlots" />
        <activity android:name=".b_health2.ActivityImmeCareProviders" />
        <activity android:name=".b_health2.GetLiveCareFormBhealth" />
        <activity
            android:name=".b_health.ActivityBecksDepression"
            android:parentActivityName=".b_health.ActivityDepInvList"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".b_health.ActivityDepInvList"
            android:label="Beck&apos;s Depression"
            android:parentActivityName=".MainActivityNew"
            android:theme="@style/DrawerTheme" />
        <activity android:name=".b_health.assessment.new_assesment.ActivityOCD_Form" />
        <activity
            android:name=".b_health.assessment.new_assesment.ActivityOCD_List"
            android:theme="@style/DrawerTheme" />
        <activity android:name=".b_health.assessment.new_assesment.ActivityStressQues_Form" />
        <activity android:name=".b_health.assessment.ActivityPHQ_Form" />
        <activity
            android:name=".b_health.assessment.ActivityPhqList"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".b_health.assessment.ActivityDastList"
            android:theme="@style/DrawerTheme" />
        <activity android:name=".b_health.assessment.ActivityDAST_Form" /> <!-- ===============Angora.io Starts============================================ -->
        <activity
            android:name="io.agora.openlive.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="io.agora.openlive.activities.LiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.agora.openlive.activities.RoleActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.agora.openlive.activities.SettingsActivity"
            android:screenOrientation="portrait" /> <!-- ===============Angora.io Ends============================================ -->
        <!-- FCM Starts -->
        <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- [END fcm_default_channel] -->
        <!-- [START firebase_service] -->
        <service android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <service
            android:name=".fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service> <!-- FCM Ends -->
        <!-- This file provider is used to get file uri in choosepicturedialog.dispatchTakePictureIntent()  Android26  GM -->
        <!-- android:authorities="com.meetandeat.provider" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.OnlineCareTDC_Pt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ActivityEliveAssignedPopup"
            android:parentActivityName=".MainActivityNew"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.OnlineCareTDC_Pt.MainActivityNew" />
        </activity>
        <activity android:name=".ActivityPinView" />
        <activity
            android:name=".ActivityCovidTest"
            android:theme="@style/DrawerTheme" />
        <activity android:name=".ActivityCovidFormList" />
        <activity android:name=".ActivityCovidTest2" />

        <service
            android:name=".services.GPSTracker"
            android:foregroundServiceType="location" /> <!-- Braintree SDK -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.braintreepayments.demo.MainActivity" />
        <activity
            android:name="com.braintreepayments.demo.SettingsActivity"
            android:label="@string/options" />
        <activity android:name="com.braintreepayments.demo.CreateTransactionActivity" android:exported="false" /> <!-- com.app.OnlineCareUS_Pt -->
        <!-- <data android:scheme="${applicationId}.braintree" /> -->
        <activity
            android:exported="true"
            android:name="com.braintreepayments.demo.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.app.onlinecaretdcpt.braintree" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>